USE [Company_Warehouse]
GO
/****** Object:  Table [dbo].[ApplicationLog]    Script Date: 18.12.2023 10:29:38 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ApplicationLog](
	[ID] [int] IDENTITY(1,1) NOT FOR REPLICATION NOT NULL,
	[Message] [nvarchar](255) NULL,
	[UserID] [int] NULL,
	[UserRealtime] [datetime] NULL,
	[MessageSource] [nvarchar](50) NULL,
 CONSTRAINT [PK_ApplicationLog] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 90, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CashBook]    Script Date: 18.12.2023 10:29:38 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CashBook](
	[ID] [int] IDENTITY(1,1) NOT FOR REPLICATION NOT NULL,
	[Date] [smalldatetime] NULL,
	[Desc] [nvarchar](255) NULL,
	[OperType] [int] NULL,
	[Sign] [int] NULL,
	[Profit] [float] NULL,
	[UserID] [int] NULL,
	[UserRealtime] [datetime] NULL,
	[ObjectID] [int] NULL,
 CONSTRAINT [PK_CashBook] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 90, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Configuration]    Script Date: 18.12.2023 10:29:38 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Configuration](
	[ID] [int] IDENTITY(1,1) NOT FOR REPLICATION NOT NULL,
	[Key] [nvarchar](50) NULL,
	[Value] [nvarchar](50) NULL,
	[UserID] [int] NULL,
 CONSTRAINT [PK_Configuration] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 90, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Currencies]    Script Date: 18.12.2023 10:29:38 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Currencies](
	[ID] [int] IDENTITY(1,1) NOT FOR REPLICATION NOT NULL,
	[Currency] [nvarchar](3) NULL,
	[Description] [nvarchar](255) NULL,
	[ExchangeRate] [float] NULL,
	[Deleted] [int] NULL,
 CONSTRAINT [PK_Currencies] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 90, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CurrenciesHistory]    Script Date: 18.12.2023 10:29:38 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CurrenciesHistory](
	[ID] [int] IDENTITY(1,1) NOT FOR REPLICATION NOT NULL,
	[CurrencyID] [int] NULL,
	[ExchangeRate] [float] NULL,
	[Date] [smalldatetime] NULL,
	[UserID] [int] NULL,
 CONSTRAINT [PK_CurrenciesHistory] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 90, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Documents]    Script Date: 18.12.2023 10:29:38 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Documents](
	[ID] [int] IDENTITY(1,1) NOT FOR REPLICATION NOT NULL,
	[Acct] [int] NULL,
	[InvoiceNumber] [nvarchar](255) NULL,
	[OperType] [smallint] NULL,
	[InvoiceDate] [smalldatetime] NULL,
	[DocumentType] [smallint] NULL,
	[ExternalInvoiceDate] [smalldatetime] NULL,
	[ExternalInvoiceNumber] [nvarchar](255) NULL,
	[PaymentType] [smallint] NULL,
	[Recipient] [nvarchar](255) NULL,
	[EGN] [nvarchar](50) NULL,
	[Provider] [nvarchar](255) NULL,
	[TaxDate] [smalldatetime] NULL,
	[Reason] [nvarchar](255) NULL,
	[Description] [nvarchar](255) NULL,
	[Place] [nvarchar](255) NULL,
 CONSTRAINT [PK_Documents] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 90, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ECRReceipts]    Script Date: 18.12.2023 10:29:38 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ECRReceipts](
	[ID] [int] IDENTITY(1,1) NOT FOR REPLICATION NOT NULL,
	[OperType] [int] NOT NULL,
	[Acct] [int] NOT NULL,
	[ReceiptID] [int] NOT NULL,
	[ReceiptDate] [datetime] NULL,
	[ReceiptType] [int] NOT NULL,
	[ECRID] [nvarchar](255) NULL,
	[Description] [nvarchar](255) NULL,
	[Total] [float] NULL,
	[UserID] [int] NOT NULL,
	[UserRealTime] [datetime] NULL,
 CONSTRAINT [PK_ECRReceipts] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 90, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Goods]    Script Date: 18.12.2023 10:29:38 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Goods](
	[ID] [int] IDENTITY(1,1) NOT FOR REPLICATION NOT NULL,
	[Code] [nvarchar](255) NULL,
	[BarCode1] [nvarchar](255) NULL,
	[BarCode2] [nvarchar](255) NULL,
	[BarCode3] [nvarchar](255) NULL,
	[Catalog1] [nvarchar](255) NULL,
	[Catalog2] [nvarchar](255) NULL,
	[Catalog3] [nvarchar](255) NULL,
	[Name] [nvarchar](255) NULL,
	[Name2] [nvarchar](255) NULL,
	[Measure1] [nvarchar](255) NULL,
	[Measure2] [nvarchar](255) NULL,
	[Ratio] [float] NULL,
	[PriceIn] [float] NULL,
	[PriceOut1] [float] NULL,
	[PriceOut2] [float] NULL,
	[PriceOut3] [float] NULL,
	[PriceOut4] [float] NULL,
	[PriceOut5] [float] NULL,
	[PriceOut6] [float] NULL,
	[PriceOut7] [float] NULL,
	[PriceOut8] [float] NULL,
	[PriceOut9] [float] NULL,
	[PriceOut10] [float] NULL,
	[MinQtty] [float] NULL,
	[NormalQtty] [float] NULL,
	[Description] [nvarchar](255) NULL,
	[Type] [int] NULL,
	[IsRecipe] [int] NULL,
	[TaxGroup] [int] NULL,
	[IsVeryUsed] [int] NULL,
	[GroupID] [int] NULL,
	[Deleted] [int] NULL,
 CONSTRAINT [PK_Goods] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 90, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[GoodsGroups]    Script Date: 18.12.2023 10:29:38 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[GoodsGroups](
	[ID] [int] IDENTITY(1,1) NOT FOR REPLICATION NOT NULL,
	[Name] [nvarchar](255) NULL,
	[Code] [nvarchar](255) NULL,
 CONSTRAINT [PK_GoodsGroups] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 90, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[InternalLog]    Script Date: 18.12.2023 10:29:38 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[InternalLog](
	[ID] [int] IDENTITY(1,1) NOT FOR REPLICATION NOT NULL,
	[Message] [nvarchar](3000) NULL,
 CONSTRAINT [PK_InternalLog] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 90, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Lots]    Script Date: 18.12.2023 10:29:38 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Lots](
	[ID] [int] IDENTITY(1,1) NOT FOR REPLICATION NOT NULL,
	[SerialNo] [nvarchar](255) NULL,
	[EndDate] [smalldatetime] NULL,
	[ProductionDate] [smalldatetime] NULL,
	[Location] [nvarchar](255) NULL,
 CONSTRAINT [PK_Lots] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 90, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Network]    Script Date: 18.12.2023 10:29:38 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Network](
	[Num] [int] NOT NULL,
	[Counter] [int] NOT NULL,
 CONSTRAINT [PK_Network] PRIMARY KEY CLUSTERED 
(
	[Num] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 90, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[NextAcct]    Script Date: 18.12.2023 10:29:38 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NextAcct](
	[ID] [int] IDENTITY(1,1) NOT FOR REPLICATION NOT NULL,
	[NextAcct] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_NextAcct] PRIMARY KEY CLUSTERED 
(
	[NextAcct] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 90, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Objects]    Script Date: 18.12.2023 10:29:38 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Objects](
	[ID] [int] IDENTITY(1,1) NOT FOR REPLICATION NOT NULL,
	[Code] [nvarchar](255) NULL,
	[Name] [nvarchar](255) NULL,
	[Name2] [nvarchar](255) NULL,
	[PriceGroup] [int] NULL,
	[IsVeryUsed] [int] NULL,
	[GroupID] [int] NULL,
	[Deleted] [int] NULL,
 CONSTRAINT [PK_Objects] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 90, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ObjectsGroups]    Script Date: 18.12.2023 10:29:38 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ObjectsGroups](
	[ID] [int] IDENTITY(1,1) NOT FOR REPLICATION NOT NULL,
	[Code] [nvarchar](255) NULL,
	[Name] [nvarchar](255) NULL,
 CONSTRAINT [PK_ObjectsGroups] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 90, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Operations]    Script Date: 18.12.2023 10:29:38 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Operations](
	[ID] [int] IDENTITY(1,1) NOT FOR REPLICATION NOT NULL,
	[OperType] [int] NULL,
	[Acct] [int] NULL,
	[GoodID] [int] NULL,
	[PartnerID] [int] NULL,
	[ObjectID] [int] NULL,
	[OperatorID] [int] NULL,
	[Qtty] [float] NULL,
	[Sign] [int] NULL,
	[PriceIn] [float] NULL,
	[PriceOut] [float] NULL,
	[VATIn] [float] NULL,
	[VATOut] [float] NULL,
	[Discount] [float] NULL,
	[CurrencyID] [int] NULL,
	[CurrencyRate] [float] NULL,
	[Date] [smalldatetime] NULL,
	[Lot] [nvarchar](50) NULL,
	[LotID] [int] NULL,
	[Note] [nvarchar](255) NULL,
	[SrcDocID] [int] NULL,
	[UserID] [int] NULL,
	[UserRealTime] [datetime] NULL,
 CONSTRAINT [PK_Operations] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 90, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[OperationType]    Script Date: 18.12.2023 10:29:38 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[OperationType](
	[ID] [int] IDENTITY(1,1) NOT FOR REPLICATION NOT NULL,
	[BG] [nvarchar](255) NULL,
	[EN] [nvarchar](255) NULL,
	[DE] [nvarchar](255) NULL,
	[RU] [nvarchar](255) NULL,
	[TR] [nvarchar](255) NULL,
	[SQ] [nvarchar](255) NULL,
	[SR] [nvarchar](255) NULL,
	[RO] [nvarchar](255) NULL,
	[GR] [nvarchar](255) NULL,
	[EL] [nvarchar](255) NULL,
	[ES] [nvarchar](255) NULL,
	[HY] [nvarchar](255) NULL,
	[KA] [nvarchar](255) NULL,
	[PL] [nvarchar](255) NULL,
	[UK] [nvarchar](255) NULL,
	[ZU] [nvarchar](255) NULL,
	[LV] [nvarchar](255) NULL,
	[FI] [nvarchar](255) NULL,
	[AR] [nvarchar](255) NULL,
	[TK] [nvarchar](255) NULL,
 CONSTRAINT [PK_OperationType] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 90, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Partners]    Script Date: 18.12.2023 10:29:38 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Partners](
	[ID] [int] IDENTITY(1,1) NOT FOR REPLICATION NOT NULL,
	[Code] [nvarchar](255) NULL,
	[Company] [nvarchar](255) NULL,
	[Company2] [nvarchar](255) NULL,
	[MOL] [nvarchar](255) NULL,
	[MOL2] [nvarchar](255) NULL,
	[City] [nvarchar](255) NULL,
	[City2] [nvarchar](255) NULL,
	[Address] [nvarchar](255) NULL,
	[Address2] [nvarchar](255) NULL,
	[Phone] [nvarchar](255) NULL,
	[Phone2] [nvarchar](255) NULL,
	[Fax] [nvarchar](255) NULL,
	[eMail] [nvarchar](255) NULL,
	[TaxNo] [nvarchar](255) NULL,
	[Bulstat] [nvarchar](255) NULL,
	[BankName] [nvarchar](255) NULL,
	[BankCode] [nvarchar](255) NULL,
	[BankAcct] [nvarchar](255) NULL,
	[BankVATName] [nvarchar](255) NULL,
	[BankVATCode] [nvarchar](255) NULL,
	[BankVATAcct] [nvarchar](255) NULL,
	[PriceGroup] [int] NULL,
	[Discount] [float] NULL,
	[Type] [smallint] NULL,
	[IsVeryUsed] [smallint] NULL,
	[UserID] [int] NULL,
	[GroupID] [int] NULL,
	[UserRealTime] [datetime] NULL,
	[Deleted] [int] NULL,
	[CardNumber] [nvarchar](255) NULL,
	[Note1] [nvarchar](255) NULL,
	[Note2] [nvarchar](255) NULL,
	[PaymentDays] [int] NULL,
 CONSTRAINT [PK_Partners] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 90, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PartnersGroups]    Script Date: 18.12.2023 10:29:38 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PartnersGroups](
	[ID] [int] IDENTITY(1,1) NOT FOR REPLICATION NOT NULL,
	[Code] [nvarchar](255) NULL,
	[Name] [nvarchar](255) NULL,
 CONSTRAINT [PK_PartnersGroups] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 90, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Payments]    Script Date: 18.12.2023 10:29:38 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Payments](
	[ID] [int] IDENTITY(1,1) NOT FOR REPLICATION NOT NULL,
	[Acct] [int] NULL,
	[OperType] [int] NULL,
	[PartnerID] [int] NULL,
	[Qtty] [float] NULL,
	[Mode] [int] NULL,
	[Sign] [int] NULL,
	[Date] [smalldatetime] NULL,
	[UserID] [int] NULL,
	[ObjectID] [int] NULL,
	[UserRealTime] [datetime] NULL,
	[Type] [int] NULL,
	[TransactionNumber] [nvarchar](255) NULL,
	[EndDate] [smalldatetime] NULL,
 CONSTRAINT [PK_Payments] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 90, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PaymentTypes]    Script Date: 18.12.2023 10:29:38 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PaymentTypes](
	[ID] [int] IDENTITY(1,1) NOT FOR REPLICATION NOT NULL,
	[Name] [nvarchar](255) NULL,
	[PaymentMethod] [int] NULL,
 CONSTRAINT [PK_PaymentTypes] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 90, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PriceRules]    Script Date: 18.12.2023 10:29:38 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PriceRules](
	[ID] [int] IDENTITY(1,1) NOT FOR REPLICATION NOT NULL,
	[Name] [nvarchar](255) NULL,
	[Formula] [nvarchar](1000) NULL,
	[Enabled] [int] NULL,
	[Priority] [int] NULL,
 CONSTRAINT [PK_PriceRules] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 90, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Registration]    Script Date: 18.12.2023 10:29:38 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Registration](
	[ID] [int] IDENTITY(1,1) NOT FOR REPLICATION NOT NULL,
	[Code] [nvarchar](255) NULL,
	[Company] [nvarchar](255) NULL,
	[MOL] [nvarchar](255) NULL,
	[City] [nvarchar](255) NULL,
	[Address] [nvarchar](255) NULL,
	[Phone] [nvarchar](255) NULL,
	[Fax] [nvarchar](255) NULL,
	[eMail] [nvarchar](255) NULL,
	[TaxNo] [nvarchar](255) NULL,
	[Bulstat] [nvarchar](255) NULL,
	[BankName] [nvarchar](255) NULL,
	[BankCode] [nvarchar](255) NULL,
	[BankAcct] [nvarchar](255) NULL,
	[BankVATAcct] [nvarchar](255) NULL,
	[UserID] [int] NULL,
	[UserRealTime] [datetime] NULL,
	[IsDefault] [int] NULL,
	[Note1] [nvarchar](255) NULL,
	[Note2] [nvarchar](255) NULL,
	[Deleted] [int] NULL,
 CONSTRAINT [PK_Registration] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 90, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Store]    Script Date: 18.12.2023 10:29:38 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Store](
	[ID] [int] IDENTITY(1,1) NOT FOR REPLICATION NOT NULL,
	[ObjectID] [int] NULL,
	[GoodID] [int] NULL,
	[Qtty] [float] NULL,
	[Price] [float] NULL,
	[Lot] [nvarchar](250) NULL,
	[LotID] [int] NULL,
	[LotOrder] [int] NULL,
 CONSTRAINT [PK_Store] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 90, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[System]    Script Date: 18.12.2023 10:29:38 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[System](
	[Version] [nvarchar](20) NOT NULL,
	[ProductID] [smallint] NULL,
	[LastBackup] [smalldatetime] NULL,
 CONSTRAINT [PK_System] PRIMARY KEY CLUSTERED 
(
	[Version] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 90, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Transformations]    Script Date: 18.12.2023 10:29:38 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Transformations](
	[ID] [int] IDENTITY(1,1) NOT FOR REPLICATION NOT NULL,
	[RootOperType] [int] NOT NULL,
	[RootAcct] [int] NOT NULL,
	[FromOperType] [int] NOT NULL,
	[FromAcct] [int] NOT NULL,
	[ToOperType] [int] NOT NULL,
	[ToAcct] [int] NOT NULL,
	[UserID] [int] NOT NULL,
	[UserRealTime] [datetime] NULL,
 CONSTRAINT [PK_Transformations] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 90, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Users]    Script Date: 18.12.2023 10:29:38 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Users](
	[ID] [int] IDENTITY(1,1) NOT FOR REPLICATION NOT NULL,
	[Code] [nvarchar](255) NULL,
	[Name] [nvarchar](255) NULL,
	[Name2] [nvarchar](255) NULL,
	[IsVeryUsed] [int] NULL,
	[GroupID] [int] NULL,
	[Password] [nvarchar](50) NULL,
	[UserLevel] [int] NULL,
	[Deleted] [int] NULL,
	[CardNumber] [nvarchar](255) NULL,
 CONSTRAINT [PK_Users] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 90, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[UsersGroups]    Script Date: 18.12.2023 10:29:38 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[UsersGroups](
	[ID] [int] IDENTITY(1,1) NOT FOR REPLICATION NOT NULL,
	[Code] [nvarchar](255) NULL,
	[Name] [nvarchar](255) NULL,
 CONSTRAINT [PK_UsersGroups] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 90, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[UsersSecurity]    Script Date: 18.12.2023 10:29:38 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[UsersSecurity](
	[ID] [int] IDENTITY(1,1) NOT FOR REPLICATION NOT NULL,
	[UserID] [int] NULL,
	[ControlName] [nvarchar](100) NULL,
	[State] [int] NULL,
 CONSTRAINT [PK_UsersSecurity] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 90, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[VATGroups]    Script Date: 18.12.2023 10:29:38 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[VATGroups](
	[ID] [int] IDENTITY(1,1) NOT FOR REPLICATION NOT NULL,
	[Code] [nvarchar](255) NULL,
	[Name] [nvarchar](255) NULL,
	[VATValue] [float] NULL,
 CONSTRAINT [PK_VATGroups] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 90, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
