USE [StabiDi]
GO
/****** Object:  Trigger [dbo].[trg_AfterInsert_Objects]    Script Date: 13.12.2024 г. 9:27:44 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TRIGGER [dbo].[trg_AfterInsert_Objects]
ON [dbo].[Objects]
AFTER INSERT
AS
BEGIN
    SET NOCOUNT ON;

    INSERT INTO [StabiDi_Log].[dbo].[Objects_Log] (Objects_ID, Name)
    SELECT ID, Name
    FROM INSERTED
    
END;
