USE [StabiDi]
GO
/****** Object:  Trigger [dbo].[trg_Update_Goods]    Script Date: 17.12.2024 г. 15:53:26 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
ALTER TRIGGER [dbo].[trg_Update_Goods]
ON [dbo].[Goods]
AFTER UPDATE
AS
BEGIN
    SET NOCOUNT ON;

    -- Вмъкване на старите данни в Goods_Log_Before
    INSERT INTO StabiDi_Log.dbo.Goods_Log_Before(
		[Goods_ID],
		[Code_Before],
		[Name_Before],
		[PriceIn_Before],
		[PriceOut1_Before],
		[PriceOut2_Before],
		[PriceOut3_Before],
		[PriceOut4_Before],
		[PriceOut10_Before]
    )
    SELECT 
        d.ID AS Goods_ID,
        d.[Code] AS Code_Before,
        d.Name AS Name_Before,
        d.[PriceIn] AS PriceIn_Before,
        d.PriceOut1 AS PriceOut1_Before,
        d.PriceOut2 AS PriceOut2_Before,
        d.PriceOut3 AS PriceOut3_Before,
        d.PriceOut4 AS PriceOut4_Before,
		d.PriceOut10 AS PriceOut10_Before
    FROM 
        DELETED d;

    -- Вмъкване на новите данни в Goods_Log_After
    INSERT INTO StabiDi_Log.dbo.Goods_Log_After (
		[Goods_ID],
		[Code_After],
		[Name_After],
		[PriceIn_After],
		[PriceOut1_After],
		[PriceOut2_After],
		[PriceOut3_After],
		[PriceOut4_After],
		[PriceOut10_After],
		[UpdatedBy]
    )
    SELECT 
        i.ID AS Goods_ID,
        i.[Code] AS Code_After,
        i.Name AS Name_After,
        i.[PriceIn] AS PriceIn_After,
        i.PriceOut1 AS PriceOut1_After,
        i.PriceOut2 AS PriceOut2_After,
        i.PriceOut3 AS PriceOut3_After,
        i.PriceOut4 AS PriceOut4_After,
		i.PriceOut10 AS PriceOut10_After,
		 HOST_NAME() AS UpdatedFromHost
    FROM 
        INSERTED i;
END;
