USE [StabiDi]
GO
/****** Object:  Trigger [dbo].[trg_Update_CashBook]    Script Date: 13.12.2024 г. 8:46:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TRIGGER [dbo].[trg_Update_CashBook]
ON [dbo].[CashBook]
AFTER UPDATE
AS
BEGIN
    SET NOCOUNT ON;

    -- Вмъкване на старите данни в CashBook_Log_Before
    INSERT INTO StabiDi_Log.dbo.CashBook_Log_Before (
        CashBookID,
        Desc_Before,
        OperType_Before,
        Sign_Before,
        Profit_Before,
        UserID_Before,
        UserRealtime_Before,
        ObjectID_Before
    )
    SELECT 
        d.ID AS CashBookID,
        d.[Desc] AS Desc_Before,
        d.OperType AS OperType_Before,
        d.[Sign] AS Sign_Before,
        d.Profit AS Profit_Before,
        d.UserID AS UserID_Before,
        d.UserRealtime AS UserRealtime_Before,
        d.ObjectID AS ObjectID_Before
    FROM 
        DELETED d;

    -- Вмъкване на новите данни в CashBook_Log_After
    INSERT INTO StabiDi_Log.dbo.CashBook_Log_After (
        CashBookID,
        Desc_After,
        OperType_After,
        Sign_After,
        Profit_After,
        UserID_After,
        UserRealtime_After,
        ObjectID_After
    )
    SELECT 
        i.ID AS CashBookID,
        i.[Desc] AS Desc_After,
        i.OperType AS OperType_After,
        i.[Sign] AS Sign_After,
        i.Profit AS Profit_After,
        i.UserID AS UserID_After,
        GETDATE() AS UserRealtime_After,
        i.ObjectID AS ObjectID_After
    FROM 
        INSERTED i;
END;
